version: "3.9"

services:
  nextjs:
    container_name: Personal-finance
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3010:3000"
    env_file:
      - .env.local
    environment:
      - NODE_ENV=development